:root {
    --roll_offset: 0;
    --roll_time: 5000ms;
}
html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 1rem;
    background: #111;
    color: white;
}
.box {
    background: #333;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    width: calc(calc(calc(150px + 1rem) * 5) - 1rem);
}
.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: red;
    z-index: 1;
}
.roll-container {
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.roll-container[state="rolling"] {
    animation: roll var(--roll_time) cubic-bezier(0.05, 0.93, 1, 1) 0ms forwards;
}
.roll-container[state="rolled"] {
    transform: translate(calc(calc(calc(150px + 1rem) * -20) + var(--roll_offset)), 0);
}
.roll-container::-webkit-scrollbar {
    display: none;
}
.item {
    text-align: center;
}
.item p {
    padding: 0;
    margin: 0;
}
.item img {
    object-fit: contain;
    width: 150px;
    aspect-ratio: 1;
}
.special-item {
    background: rgba(251, 255, 33, 0.3);
}
.covert {
    background: rgba(255, 0, 0, 0.3);
}
.classified {
    background: rgba(255, 0, 234, 0.3);
}
.restricted {
    background: rgba(98, 0, 255, 0.3);
}
.mil-spec {
    background: rgba(17, 72, 255, 0.3);
}
.roll-button {
    font-size: 2rem;
    background: hotpink;
    border: none;
    border-radius: 15px;
    padding: 0.3rem 0.6rem;
    width: 200px;
    color: white;
    outline: none;
    transition: scale 300ms;
}
.roll-button:active {
    scale: 0.985;
}
.inventory {
    height: calc(calc(calc(150px + 1rem) * 2) + 2rem);
    width: calc(calc(calc(150px + 1rem) * 5) - 1rem);
    background: #333;
    display: grid;
    justify-content: start;
    grid-template: ". . . . .";
    padding: 1rem;
    padding-right: 2rem;
    gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

@keyframes roll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(calc(calc(150px + 1rem) * -20) + var(--roll_offset)), 0);
    }
}

@media (orientation: portrait) {
    .item img {
        width: 75px;
    }
    .inventory {
        width: calc(calc(calc(75px + 1rem) * 5) - 1rem);
    }
    .box,
    .roll-container {
        width: calc(calc(calc(75px + 1rem) * 5) - 1rem);
    }
}
